body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.lobby-container {
    position: relative;
    width: 80%;
    max-width: 1200px;
}

.lobby {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.lobby-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lobby-item img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.lobby-item img:hover {
    transform: scale(1.05);
}

.navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.nav-arrow {
    font-size: 4em; /* Tamaño de las flechas */
    cursor: pointer;
    padding: 0 0px; /* Distancia de las flechas respecto al centro */
    position: relative;
}

.nav-arrow.left {
    left: -80px; /* Posición horizontal de la flecha izquierda */
}

.nav-arrow.right {
    right: -80px; /* Posición horizontal de la flecha derecha */
}
